<div class="row" style="margin-bottom: 20px;">
	<div class="col-xs-12" style="text-align: left;">
		<h3 style="font-weight:bold; font-size:30px;">
			Apoio
		</h3>
	</div>
</div>

<ul class="gallery row first">
	<li>
		<%= image_tag "/assets/ajufe.jpg" %>
  	<p class="text">AJUFE</p>
 </li>
	<li>
		<%= image_tag "/assets/amb-banner.jpg" %>
  	<p class="text">AMB</p>
 </li>
	<li>
		<%= image_tag "/assets/anamatra.jpg" %>
  	<p class="text">ANAMATRA</p>
 </li>
</ul>
