<div>
	<div class="col-xs-12"><h3>Programação</h3></div>
</div>

<ul class="nav nav-tabs" id="myTabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#quarta" id="quarta-tab" role="tab" data-toggle="tab" aria-controls="quarta" aria-expanded="true">Quarta-feira</a>
	</li>
	<li role="presentation" class="">
		<a href="#quinta" role="tab" id="quinta-tab" data-toggle="tab" aria-controls="quinta" aria-expanded="false">Quinta-feira</a>
	</li>
	<li role="presentation" class="">
		<a href="#sexta" role="tab" id="sexta-tab" data-toggle="tab" aria-controls="sexta" aria-expanded="false">Sexta-feira</a>
	</li>
</ul>


<div class="tab-content" id="myTabContent"> 
	<div class="tab-pane fade active in" role="tabpanel" id="quarta" aria-labelledby="quarta-tab"> 

		<table class="prog-table">
			<tr><td class="col-xs-12 prog-titulo">8h30 Diálogos sobre Magistratura e a questão racial.</td></tr>
			<tr><td class="col-xs-12 prog-sub">MEDIADOR</td></tr>
			<tr><td class="col-xs-12">Juiz Fábio Francisco Esteves</td></tr>
			<tr><td class="col-xs-12 prog-sub">PARTICIPANTES</td></tr>
			<tr><td class="col-xs-12">Adriana Cruz (Juíza do TRF 2ª)</td></tr>
			<tr><td class="col-xs-12">Maria Ivatônia (Juíza substituta de 2º Grau do TJDFT)</td></tr>
			<tr><td class="col-xs-12">Lorival Ferreira (Desembargador do TRT/SP)</td></tr>
			<tr><td class="col-xs-12 prog-local">Local: Auditório Sepúlveda Pertence do  TtdT</td>
			<tr><td class="col-xs-12 prog-titulo">10h Pausa Café</td></tr>
			<tr><td class="col-xs-12 prog-titulo">10h30 Conferência de Encerramento</td></tr>
			<tr><td class="col-xs-12 prog_sub">TEMA</td></tr>
			<tr><td class="col-xs-12">Promoção da Igualdade Social na Magistratura Brasileira:</td></tr>
			<tr><td class="col-xs-12">superar atrasos e encarar desafios.</td></tr>
			<tr><td class="col-xs-12 prog-sub">PALESTRANTE</td></tr>
			<tr><td class="col-xs-12">Paulo Rangel (Desembargador do TJRJ)</td></tr>
			<tr><td class="col-xs-12 prog-titulo">COMPOSIÇÃO DA MESA</td></tr>
			<tr><td class="col-xs-12">Ministro Ricardo Lewandowski - STF</td></tr>
			<tr><td class="col-xs-12 prog-titulo">12h Encerramento</td></tr>
			<tr><td class="col-xs-12 prog-local">Local: Auditório Sepúlveda Pertence do  TJDFT</td></tr>
		</table>

	</div> 
	<div class="tab-pane fade" role="tabpanel" id="quinta" aria-labelledby="quinta-tab"> 
		<table class="prog-table">
			<tr><td class="col-xs-12 prog-titulo">8h Mulheres Negras: das formas de resistências e reexistências</td></tr>
			<tr><td class="col-xs-12">Palestrante:  Rosane Borges</td></tr>
			<tr><td class="col-xs-12">Local: Auditório Sepúlveda Pertence do  TJDFT</td></tr>
			<tr><td class="col-xs-12 prog-titulo">18h30 Apresentação Cultural</td></tr>
			<tr><td class="col-xs-12">Ministro Luiz Fux -STF</td></tr>
			<tr><td class="col-xs-12">Ministra Luislinda Valois - Direitos Humanos do Brasil</td></tr>
			<tr><td class="col-xs-12">Juiz Fábio Esteves - AMAGIS/DF</td></tr>
			<tr><td class="col-xs-12">Juiz Edinaldo César Santos Junior  - AMASE</td></tr>
			<tr><td class="col-xs-12">Jaime Martins de Oliveira Neto - AMB</td></tr>
			<tr><td class="col-xs-12">Juiz Roberto Veloso - AJUFE</td></tr>
			<tr><td class="col-xs-12">Juiz Germano de Silveira de Siqueira - ANAMATRA</td></tr>
			<tr><td class="col-xs-12 prog-titulo">10h Pausa Café</td></tr>
			<tr><td class="col-xs-12 prog-titulo">10h30 "Diálogo sobre Racismo e Sociedade"</td></tr>
			<tr><td class="col-xs-12 prog_sub">MEDIADOR</td></tr>
			<tr><td class="col-xs-12">Juiz Edinaldo César Santos Junior</td></tr>
			<tr><td class="col-xs-12 prog_sub">PARTICIPANTES</td></tr>
			<tr><td class="col-xs-12">Ator Milton Gonçalves</td></tr>
			<tr><td class="col-xs-12">Frei Davi, da Educafro - Educação e Cidadania de Adolescentes e Carentes</td></tr>
			<tr><td class="col-xs-12 prog-titulo">14h Grupos de Trabalhos (GT)</td></tr>
			<tr><td class="col-xs-12">Local: 5º e 9º andares do Tribunal de Justiça do DF</td></tr>
			<tr><td class="col-xs-12 prog-titulo">16h Pausa Café</td></tr>
			<tr><td class="col-xs-12 prog-titulo">16h30 Plenária</td></tr>
			<tr><td class="col-xs-12 prog-titulo">20h30 Noite Cultural</td></tr>
			<tr><td class="col-xs-12">Participação: Banda Negra Cor (Bahia)</td></tr>
			<tr><td class="col-xs-12">Local: Clube da AMAGIS-DF</td></tr>
		</table>
	</div> 
	<div class="tab-pane fade" role="tabpanel" id="sexta" aria-labelledby="sexta-tab"> 
		<table class="prog-table">
			<tr><td class="col-xs-12 prog-titulo">8h30 Diálogos sobre Magistratura e a questão racial.</td></tr>
			<tr><td class="col-xs-12 prog_sub">MEDIADOR</td></tr>
			<tr><td class="col-xs-12">Juiz Fábio Francisco Esteves</td></tr>
			<tr><td class="col-xs-12 prog_sub">PARTICIPANTES</td></tr>
			<tr><td class="col-xs-12">Adriana Cruz (Juíza do TRF 2ª)</td></tr>
			<tr><td class="col-xs-12">Maria Ivatônia (Juíza substituta de 2º Grau do TJDFT)</td></tr>
			<tr><td class="col-xs-12">Lorival Ferreira (Desembargador do TRT/SP)</td></tr>
			<tr><td class="col-xs-12">Local: Auditório Sepúlveda Pertence do  TJDFT</td></tr>
			<tr><td class="col-xs-12 prog-titulo">10h Pausa Café</td></tr>
			<tr><td class="col-xs-12 prog-titulo">10h30 Conferência de Encerramento</td></tr>
			<tr><td class="col-xs-12">TEMA</td></tr>
			<tr><td class="col-xs-12">Promoção da Igualdade Social na Magistratura Brasileira: superar atrasos e encarar desafios.</td></tr>
			<tr><td class="col-xs-12 prog_sub">PALESTRANTE</td></encarar>
			<tr><td class="col-xs-12">Paulo Rangel (Desembargador do TJRJ)</td></tr>
			<tr><td class="col-xs-12">COMPOSIÇÃO DA MESA</td></tr>
			<tr><td class="col-xs-12">Ministro Ricardo Lewandowski - STF</td></tr>
			<tr><td class="col-xs-12 prog-titulo">12h Encerramento</td></tr>
			<tr><td class="col-xs-12">Local: Auditório Sepúlveda Pertence do  TJDFT</td></tr>
		</table>
	</div> 
</div>