/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require jasny-bootstrap.min
 *= require jquery.bsPhotoGallery
 *= require font-awesome.min
 *= require jquery.jcrop
 *= require bootstrap-select.min
 *= require pagination
 *= require_self
 */

body {
	margin-top: 60px;
/*	background: #ebebeb;*/
}

.prog-table {
	width: 100%;
	max-width: 100%;	
}

.prog-table td {
	text-align: center;
}

.prog-table .prog-titulo {
	font-size: 110%;
	font-weight: bold;
	color: yellow;
	height: 40px;
}

.prog-table .prog-sub {
	font-size: 110%;
	font-weight: bold;
	height: 25px;
}

.prog-table .prog-local {
	font-size: 100%;
	font-weight: bold;
	height: 30px;
}

.prog-table .prog-local {
	font-size: 12px;
	font-weight: bold;
}

.navbar p {
	margin-top: 6px;
	margin-bottom: 0;
	color: white;
}

ul.navmenu-nav li a {
	margin-left: 10px;
}

.dropdown-header {
	background-color: #080808;
	font-weight: bold;
	color: white;
}

.bs-navmenu-offcanvas .navbar-toggle {
  float: left;
  margin-left: 15px;
  display: block;
}

table .table-link {
	width: 20px;
}

.titulo {
	margin-top: 0px;
	margin-bottom: 0px;
}

li p.text {
  font-family: 'Bree Serif';
  color: #666;
  font-size: 11px;
  margin-bottom: 10px;
  padding: 12px;
  background: #fff;
}

ul.gallery li {
    list-style: none;
    margin-bottom: 10px;
}

.bottom-line {
	border-bottom: 2px dotted #cccccc;
	padding-bottom: 10px; 
}
.pagination {
	margin: 0px;
}
div.foto_cropbox {
	float: right;
}
.form-actions {
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 50px;
	border-top: 2px dotted #cccccc;
}

.nested-fields {
	border: 1px solid #cccccc;
	padding: 10px;
	margin-bottom: 15px;
}

.scroll-button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

.go-top {
  bottom: 20px;
}
.go-bottom {
  display: block; /* Hidden by default */
  top: 60px;
}

.scroll-button:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.navmenu-default, .navbar-default .navbar-offcanvas {
  background-color: #ccc;
  border-color: #e7e7e7;
}
.navmenu-default .navmenu-nav > li > a, .navbar-default .navbar-offcanvas .navmenu-nav > li > a {
	color: #000;
}

.navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand {
  color: #000;
  font-weight: bold;
}