<p>1ª Encontro Nacional de Juízas e Juízes Negros</p>

<p>Olá <%= @resource.email %>!</p>

<p>Essa mensagem tem a finalidade de atender uma solicitação de mudança de senha.</p>

<p>Para alterá-la clique no link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não solicitou a alteração. Por favor ignore esse email.</p>

<p>Sua senha senha não será alterada até acessar esse link.</p>
