<div class="row" style="margin-bottom: 20px;">
	<div class="col-xs-12" style="text-align: left;">
		<h3 style="font-weight:bold; font-size:30px;">
			Realização
		</h3>
	</div>
</div>

<ul class="gallery row first">
	<li>
		<%= image_tag "/assets/amagis_df.jpg", width: "300px" %>
  	<p class="text">AMAGIS/DF</p>
 </li>
	<li>
		<%= image_tag "/assets/amase.jpg", width: "300px" %>
  	<p class="text">AMASE</p>
 </li>
</ul>
